@media screen and (min-width: 414px) {
    .gambarmain{
        min-height: 90px !important;
        min-width: 120px !important;
        max-height: 90px !important;
        max-width: 120px !important;
    }
    .fontsub{
        font-size: 14px;
    }
}