/* TEXT                     */
.twhite{
    color: white;
}
.tred{
    color: red;
}
.tgray{
    color: #818CA9;
}
.tsedikitgray{
    color: #9a9ca0;
}
.tgrayblack{
    color: rgb(24, 25, 31);
}
.tblack{
    color: black;
}
.tblue{
    color: #00AAFF;
}
.tgreen{
    color: #08C9D3;
}
.tsoftgreen{
    color: #D7EEF5;
}
.f8{
    font-size: 8px;
}
.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f26{
    font-size: 26px;
}
.f28{
    font-size: 28px;
}
.bold{
    font-weight: bold;
}
.medium{
    font-weight: 600;
}
.texthover:hover{
    font-size: 18.5px;
}
/* TEXT END                 */



/* BACKGROUND               */
.bgblue{
    background: #00AAFF;
}
.bggreen{
    background: #08C9D3;
}
.bgblacktapiblue{
    background: #0B2938;
}
.bgsedikitblack{
    background: #e0e0e0;
}
.bgsoftgreen{
    background: #D7EEF5;
}
.bgsangatsoftgreen{
    background: #E6FAFB;
}
.bggray{
    background: #F5F5F5;
}
.bggraynavbutton{
    background: #e0dfdff5;
}
.bgbluelinear{
    background: -o-linear-gradient(245.83deg, #00AAFF 8.07%, #00aaff57 91.71%);
    background: linear-gradient(204.17deg, #00AAFF 8.07%, #00aaff57 91.71%);
}
.bgwhitelinear{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.445) 0%, rgba(255, 255, 255, 0.89) 51.04%, #FFFFFF 100%);
}
.bgblackblur{
    background: #00000040;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */}
.bgblue{
    background: #00AAFF;
}
.bgred{
    background: red;
}
.pink{
    background: pink;
}
.bgblack{
    background: black;
}
.shadowbackgroundblack{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 10px 10px 10px 0;
    -moz-border-radius: 10px 10px 10px 0;
    -ms-border-radius: 10px 10px 10px 0;
    -o-border-radius: 10px 10px 10px 0;
}
.hovershadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 10px 10px 10px 0;
    -moz-border-radius: 10px 10px 10px 0;
    -ms-border-radius: 10px 10px 10px 0;
    -o-border-radius: 10px 10px 10px 0;
}
/* BACKGROUND END           */



/* BORDER                   */
.borderwhite{
    border: 1px solid white;
}
.borderred{
    border: 1px solid red;
}
.bordergray{
    border: 1px solid #F5F5F5;
}
.borderblue{
    border: 1px solid #00AAFF;
}
.bordergreen{
    border: 1px solid #08C9D3;
}
.bordersoftgreen{
    border: 1px solid #D7EEF5;
}
.borderblack{
    border: 1px solid #303030;
}
/* BORDER END               */



/* OPACITY                  */
.o80{
    opacity: 0.8;
}
.o65{
    opacity: 0.65;
}
.o50{
    opacity: 0.5;
}
.o35{
    opacity: 0.35;
}
.o25{
    opacity: 0.25;
}
.o15{
    opacity: 0.15;
}
.o10{
    opacity: 0.1;
}
.o0{
    opacity: 0;
}
/* OPACITY END              */



/* HOVER                     */
.hovergray:hover{
    background: #c7c4c4f5;
}
.hoverblue:hover{
    background: rgb(5, 152, 226);
}
/* HOVER END                 */



/* DIMENSIONAL               */
.max992{
    max-width: 992px;
}
.max768{
    max-width: 7768px;
}
.max576{
    max-width: 576px;
}
/* DIMENSIONAL END           */



/* RESET                     */
p{
    padding: 0;
    margin: 0;
}
h1{
    padding: 0;
    margin: 0;
}
h2{
    padding: 0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
}
h4{
    padding: 0;
    margin: 0;
}
h5{
    padding: 0;
    margin: 0;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.btn:focus {
    outline: none !important;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.hidescroll::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}
.hidescroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
/* RESET END                 */